{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Salt</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Fechavencimiento</th>
                <th>Nombre</th>
                <th>Apellidopaterno</th>
                <th>Apellidomaterno</th>
                <th>Fechanacimiento</th>
                <th>Genero</th>
                <th>Telefonofijo</th>
                <th>Telefonomovil</th>
                <th>Boletin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('u_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username}}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.salt }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.genero }}</td>
                <td>{{ entity.telefonoFijo }}</td>
                <td>{{ entity.telefonoMovil }}</td>
                <td>{{ entity.boletin }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('u_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('u_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('u_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
