{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{{ entity.fechaVencimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ entity.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ entity.apellidoMaterno }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Telefonofijo</th>
                <td>{{ entity.telefonoFijo }}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ entity.telefonoMovil }}</td>
            </tr>
            <tr>
                <th>Boletin</th>
                <td>{{ entity.boletin }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('u') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('u_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('u_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
