<section id="header" class="container clearfix">
    <div class="span12">
        <nav class="mainNav">
            <ul>
                <li><a class="page" href="{{path('reportes_index')}}">Hoy</a> </li>
                <li><a class="page" href="{{path('reporte_diario')}}">Diarios</a> </li>
                <li><a class="page" href="{{path('reporte_mensual')}}">Mensuales</a></li> 
                <li><a class="page" href="{{path('reporte_anual')}}">Anuales</a> </li>
                <li><a class="page" href="{{path('reporte_masvendido')}}">Prodcutos mas vendidos</a></li>
                <li><a class="page" href="{{path('reporte_menosvendido')}}">Prodcutos menos vendidos</a></li>
            </ul>
        </nav>
    </div>
</section>