{% extends "QPvBundle::template.html.twig" %}

{% block content %}

{#% if true %}
<br/>

<a href="{{path('productos_index')}}">Productos</a><br/>
<a href="{{path('impuestos_index')}}">Impuestos</a><br/>
<br/>
<a href="">Opciones de pago</a><br/>
<br/>
<a href={{path('reportes_index')}}>Reportes</a>

{% endif%}


<h1>Panel</h1>

<a href="{{path('pos_index')}}">Punto de venta</a> <br/>
<a href="{{path('tiendas_index')}}">Controla tus tiendas</a> <br/>
<a href="{{path('empleado_index')}}">Controla tus empleados</a> <br/>
<a href="{{path('proveedor_index')}}">Controla tus proveedores</a> <br/>
<a href="{{path('almacenes_index')}}">Controla tus alamacenes</a> <br/>

#}

<section class="content dark container clearfix">
    <div class="span12">
        <h2>Our <span class="meta">Services</span></h2>
    </div>
    <div class="services clearfix"> 

        <!-- item 1 -->
        <div class="span6">
            <div class="item">
                <div class="square"><a href="services.html"><img src="/img/icons/webdesign.png" alt="" /></a></div>
                <h3><a href="services.html">Web Design</a></h3>
                <p> Shaping a creative identity, rich and versatile Enhance your  image. </p>
            </div>
        </div>
        <!-- End --> 

        <!-- item 2 -->
        <div class="span6">
            <div class="item">
                <div class="square"><a href="services.html"><img src="/img/icons/branding.png" alt="" /></a></div>
                <h3><a href="services.html">Branding</a></h3>
                <p> Designing graphic guidelines with possible variation on multi-support. </p>
            </div>
        </div>
        <!-- End --> 

        <!-- item 3 -->
        <div class="span6">
            <div class="item ">
                <div class="square"><a href="services.html"><img src="/img/icons/wordpress.png" alt="" /></a></div>
                <h3><a href="services.html">Wordpress</a></h3>
                <p> Development for a simple or complex content management platform. </p>
            </div>
        </div>
        <!-- End --> 

        <!-- item 4 -->
        <div class="span6">
            <div class="item ">
                <div class="square"><a href="services.html"><img src="/img/icons/strategy.png" alt="" /></a></div>
                <h3><a href="services.html">Strategy</a></h3>
                <p> Graphic design watch and carrying out benchmarking.</p>
            </div>
        </div>
        <!-- End --> 

    </div>
    <!-- End Services --> 
            {#<section>#}
    <section class="content dark container clearfix">
        <div class="purchase">
            <div class="span9">
                <h2>Contrary to popular belief simply random text.</h2>
                <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
            </div>
            <div class="span3 alpha"> <a href="#" class="button medium color">Purchase Now</a> </div>
        </div>
    </section>

    <!-- project carousel -->
    <section class="content dark container clearfix">
        <div class="span12">
            <h2>Featured <span class="meta">Projects</span></h2>
        </div>
        <div class="span12">
            <div id="lista1" class="als-container"> <span class="als-prev"><img src="/img/arrow-left.png" alt="prev" title="previous" /></span> <span class="als-next"><img src="img/arrow-right.png" alt="next" title="next" /></span>
                <div class="als-viewport">
                    <ul class="als-wrapper">
                        <li class="als-item"><img src="/img/portfolio/1-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/2-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/3-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/4-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/5-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/6-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/7-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                        <li class="als-item"><img src="/img/portfolio/8-thumb.jpg" alt="calculator" title="calculator" />calculator</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- ends project carousel -->

    <section class="content container clearfix"> 

        <!--tabs starts-->
        <div class="span12"> 

            <!--tab navigation starts-->
            <ul class="nav nav-tabs" id="myTab">
                <li ><a href="#clients"  data-toggle="tab">Our Clients</a></li>
                <li class="active"><a href="#pricing"  data-toggle="tab">Pricing</a></li>
            </ul>
            <!--tab navigation ends--> 

            <!--tab content starts-->
            <div class="tab-content clearfix">
                <!--pricing starts-->
                <div class="tab-pane" id="pricing">
                    <div class="pricing">
                        <div class='span4'>
                            <div class='well'>
                                <h2>Free</h2>
                                <ul>
                                    <li>5 users</li>
                                    <li>1 live IP</li>
                                    <li>Unlimited emails</li>
                                    <li>Free upgrade</li>
                                    <li>1 domain</li>
                                    <li>$20/yr</li>
                                </ul>
                                <div class="signup"> <a href="#" class="button small color"> <span class="icon-edit"></span> Signup Now</a> </div>
                            </div>
                        </div>
                        <!-- pricing col ends -->
                        <div class='span4'>
                            <div class='well highlighted'>
                                <h2>Pro</h2>
                                <ul>
                                    <li>20 users</li>
                                    <li>5 live IP</li>
                                    <li>Unlimited emails</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>20 domain</li>
                                    <li>$40/yr</li>
                                </ul>
                                <div class="signup"> <a href="#" class="button small color"> <span class="icon-edit"></span> Signup Now</a> </div>
                            </div>
                        </div>
                        <!-- pricing col ends -->
                        <div class='span4'>
                            <div class='well'>
                                <h2>Premium</h2>
                                <ul>
                                    <li>8 users</li>
                                    <li>2 live IP</li>
                                    <li>Unlimited emails</li>
                                    <li>Free upgrade</li>
                                    <li>1 domain</li>
                                    <li>$30/yr</li>
                                </ul>
                                <div class="signup"> <a href="#" class="button small color"> <span class="icon-edit"></span> Signup Now</a> </div>
                            </div>
                        </div>
                        <!-- pricing col ends --> 

                    </div>
                </div>
                <!--pricing ends--> 

            </div>
            <!--tab content ends--> 

        </div>
        <!--tabs ends--> 

    </section>


    <!-- Formulario de contacto  -->
    {% include 'QPvBundle::contacto.html.twig'%}
{% endblock %}





